@page "/counter"

<PageTitle>Counter</PageTitle>
<section class="section">
    
        <h1 class="title">Counter</h1>

    
        <p class="block" role="status">Current count: @currentCount</p>

        <button class="button is-primary" @onclick="IncrementCount">Click me</button>
    
</section>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

