@page "/"

<PageTitle>Index</PageTitle>

<section class="section">
    <h1 class="title">Hello, world!</h1>

    <div class="block">Welcome to your new app.</div>

    <div class="box">
        <SurveyPrompt Title="How is Blazor working for you?" />
    </div>
</section>