@inherits LayoutComponentBase

<PageTitle>BlazorServerAppBulmaTemplate</PageTitle>

<div>
    <div >
        <NavMenu />
    </div>
    <div class="container">
        
            @Body
        
    </div>
    
</div>

